@charset "utf-8";
/* 
------------------------------------------------------------
MGAME Web Design Team
first written: Yang Young bok 090723
updated: YYB 090821 //
------------------------------------------------------------
*/

/* tab menu */
.tabMenu{margin:0 0 15px 0; padding:10px 0 0 10px; width:676px; border-bottom:1px solid #3B3529; overflow:hidden; _zoom:1;}
.tabMenu li{float:left; margin-right:3px; height:23px; font-size:11px; white-space:nowrap;}
.tabMenu li a,
.tabMenu li a.on,
.tabMenu li a:hover,
.tabMenu li a strong{position:relative; display:inline-block; background-image:url(../images/common/bg_tab.gif); background-repeat:no-repeat; text-decoration:none !important; color:#514D3B !important; cursor:pointer;}
.tabMenu li a.on,
.tabMenu li a:hover{background-position:0 -27px; color:#C9BD89 !important;}
.tabMenu li a.on strong,
.tabMenu li a:hover strong{background-position:right -27px; color:#C9BD89 !important;}
.tabMenu li a{margin-right:5px; height:23px;}
.tabMenu li a strong{left:5px; padding:3px 15px 0 10px; height:20px; background-position:right 0;}

.tabItem{margin:15px 0 20px 0; padding:10px 0 0 11px; width:auto; height:91px; border:none 0; background:url(../images/info/bg_tabitem.gif) no-repeat;}
.tabItem li{margin:0 5px 7px 0; font-size:10px;}
.tabItem li a,
.tabItem li a.on,
.tabItem li a:hover,
.tabItem li a strong{background-image:url(../images/info/bg_tab_btn.gif); color:#695121 !important;}
.tabItem li a.on,
.tabItem li a.on strong,
.tabItem li a:hover strong{color:#DDC17B !important;}
.tabItem li a strong{padding:3px 21px 0 16px;}
.tabMonster li a strong{padding:3px 15px 0 11px;}

.tabMenuSub{margin:25px 0 15px 0; padding:0 0 0 5px; width:681px; height:25px; background:url(../images/common/bg_tab_sub.gif) no-repeat; overflow:hidden;}
.tabMenuSub li{float:left; margin:0 1px 0 0; width:96px; text-align:center;}
.tabMenuSub li a{display:block; margin:4px 0 0 0; height:21px;}
.tabMenuSub li a.on,
.tabMenuSub li a:hover{padding:2px 0 0 0; background:url(../images/common/bg_tab_sub_on.gif) no-repeat; text-decoration:none;}

.tabMenuList{margin:0 0 15px 0; padding:4px 0; border:solid #3B3529; border-width:1px 0; background:#2D2419; overflow:hidden; _zoom:1;}
.tabMenuList li{float:left; margin:0 0 0 -1px; padding:0 10px 0 10px; height:11px; border-left:1px solid #5F523C; font-size:10px; line-height:0;}
.tabMenuList li a{display:block; line-height:10px;}
.tabMenuList li a.on,
.tabMenuList li a:hover{padding:0 0 0 7px; font-weight:bold; background:url(../images/common/bu_dot.gif) no-repeat 0 5px; text-decoration:none;}

.tabStory{margin-bottom:24px;}
.tabStory li{height:40px;}
.tabStory li a,
.tabStory li a.on,
.tabStory li a:hover,
.tabStory li a strong{background-image:url(../images/common/bg_tab_guide.gif); text-align:center;}
.tabStory li a.on,
.tabStory li a:hover{background-position:0 -50px;}
.tabStory li a.on strong,
.tabStory li a:hover strong{background-position:right -50px;}
.tabStory li a{height:40px;}
.tabStory li a strong{padding:3px 9px 0 5px; height:37px;}

.tabInstall li a strong{padding:3px 10px 0 6px;}

/* text */
.textPoint{padding:2px 0 2px 17px; border:solid #3B3529; border-width:1px 0; background:#2D2419 url(../images/common/bu_dot.gif) no-repeat 10px 11px;}
.textP{margin:0 10px;}

.stress1{color:#996600 !important;}
.stress2{color:#9B8966 !important;}
.cRed{color:#C52700 !important;}
.cBlue{color:#104EBD !important;}
.cGreen{color:#29C309 !important;}

/* guide */
.tableCommon{border-collapse:collapse; margin:0 auto; width:668px; font-size:10px; line-height:11px;}
.tableCommon thead th{padding:7px 0 6px 0; border:solid #3B2916; border-width:1px 0 1px 1px; background:#261406; color:#AC823F;}
.tableCommon tbody th{padding:6px 10px; border:solid #3B2916; border-width:0 0 1px 0; font-weight:normal;}
.tableCommon tbody td{padding:6px 10px; border:solid #3B2916; border-width:0 0 1px 1px;}
.tableCommon tbody td img{vertical-align:middle;}
.tableCommon .lineLNone{border-left:0;}
.tableVertical tbody th{border-width:1px 0; background:#170C03; font-weight:bold; color:#AC823F;}
.tableVertical tbody td{border-width:1px 0 1px 1px;}
.tableFix{table-layout:fixed;}

.tablePet{margin-bottom:10px;}
.tablePet thead th{border-width:1px 0;}
.tablePet tbody td{text-align:center;}
.tablePet tbody td img{border:1px solid #3B2916;}

.tableKey{margin:0 auto 20px auto; width:648px;}
.tableKey caption{position:relative; width:auto; height:auto; visibility:visible; border:solid #3B2916; border-width:1px 0; background:#271509; font:bold 10px/25px Verdana; color:#AC823F;}
.tableKey thead th{border-top:0; background:#271509;}
.tableKey tbody th{padding:6px 0; width:130px; background:#261406; font-weight:bold;}
.tableKey tbody td{padding:6px 0; text-align:center;}
.tableKey .AlignLeft{padding:6px 5px 6px 10px;}
.tableKey .tdKey{padding:2px 0;}

.tablePromotion{margin-bottom:20px; width:648px;}
.tablePromotion thead th,
.tablePromotion tbody th{color:#9B8966; background:#261406;}
.tablePromotion tbody td{text-align:center;}

.tableStrength tbody th{border-width:1px 1px 1px 0; background:#261406; font-weight:normal; white-space:nowrap; text-align:left;}
.tableStrength tbody td{border-width:1px 0;}

.tableBorn{margin:20px auto 10px auto;}
.tableBorn thead th{color:#9B8966; background:#180D03;}
.tableBorn tbody td{text-align:center;}

.synopsis{margin:20px auto 0 auto; width:666px;}
.synopsis .FloatLeft{margin:0 15px 15px 0;}
.synopsis .FloatRight{margin:0 0 0 15px;}
.synopsis p{margin:0 0 9px 0; line-height:11px;}

.special{margin:-20px auto 0 auto; width:660px; line-height:11px;}
.special h5{margin:20px 0 0 0; padding:0; height:20px;}
.special h6{margin:8px 0 0 0; padding:0; font:bold 10px/16px Verdana;}
.special ol{margin:5px 0 0 0; list-style:none;}
.special p{margin:0 0 10px 0;}

.story h4{margin:0 13px; padding:15px 0 0 0; height:20px;}
.story p{margin:0 13px 10px 13px; line-height:11px;}
.story .imgPhoto{float:left; margin:0 20px 10px 10px;}

.guide h4{margin:24px 0 14px 0;}
.guide h5{margin:20px 9px 10px 10px; font-size:10px;}
.guide h5 img{vertical-align:middle;}
.guide h6{margin:10px 20px; padding:0 0 0 20px; background:url(../images/guide_/bu_h6.gif) no-repeat 0 2px; font-size:10px;}
.guide h6 em{font-weight:normal; font-size:9px;}
.guide p{margin:0 9px 10px 10px; line-height:11px;}
.guide em{font-style:normal;}
.guide .textImage,
.guide .textImage2{margin:0 9px 0 10px; line-height:11px;}
.guide .textImage img{display:block; margin:0 0 10px 0;}
.guide .textImage2 img{display:block; margin:10px 0 0 0;}
.guide .h5Shortcut{margin-left:20px; padding:0 0 0 10px; background:url(../images/guide/bu_arrow2.gif) no-repeat 0 6px; color:#996600;}
.guide .h5Arrow{padding:0 0 0 20px; background:url(../images/guide_/bu_h6.gif) no-repeat 0 2px;}
.guide h6.point{margin-top:15px; padding:0 0 0 15px; background:url(../images/guide/bu_point.gif) no-repeat 0 2px; color:#996600;}

.guide ol,
.guide ul{list-style:none; margin:0 9px 0 10px; line-height:11px;}
.guide li{margin:5px 0 0 0;}
.guide ol.install li{margin:0 0 24px 0;}
.guide ol.install li img{display:block; margin:0 0 10px 0;}
.guide ol.store li{margin:0 0 5px 0;}
.guide ol.store li img{display:block; margin:10px 0 20px 0;}
.guide ol.seal li{margin:0 0 20px 0;}
.guide ol.seal li li{margin:0;}
.guide ol.seal li img{display:block; margin:5px 0;}
.guide ol.seal li strong{padding:0 0 0 7px; background:url(../images/common/bu_dot2.gif) no-repeat 0 6px;}
.guide ol.soul li{margin:0 0 10px 0;}
.guide ol.soul li img{display:block; margin:5px 0;}
.guide ol.square{margin-bottom:10px; padding:5px 10px 10px 10px; border:solid #3B3529; border-width:1px 0; background:#2D2419;}
.guide ul.control li{position:relative; margin:0 0 10px 0; padding:0 0 0 8px; background:url(../images/guide/bu_arrow.gif) no-repeat 0 4px;}
.guide ul.tutorial li{margin:0 0 20px 0;}
.guide ul.tutorial li img{display:block; margin:0 0 10px 0;}

.boxSquare{margin:20px auto 0 auto; padding:5px 0 10px 0; width:667px; border:solid #3B3529; border-width:1px 0; background:#2D2419;}
.boxSquare h5{margin-top:0; color:#996600;}
.boxSquare li{padding:0 0 0 7px; background:url(../images/common/bu_dot2.gif) no-repeat 0 5px;}

/* game info */
.dlCharacter{margin:20px 0 0 0; width:686px; height:290px;}
.dlCharacter dt{padding:50px 0 0 23px;}
.dlCharacter dd{margin:15px 0 0 24px;}
.dlCharacter dd p{margin:0 0 10px 0; width:360px; line-height:11px; color:#FFFFCC;}
.dlCharacter.bg1{background:url(../images/info/bg_character01.html) no-repeat;}
.dlCharacter.bg2{background:url(../images/info/bg_character02.html) no-repeat;}
.dlCharacter.bg3{background:url(../images/info/bg_character03.html) no-repeat;}
.dlCharacter.bg4{background:url(../images/info/bg_character04.html) no-repeat;}
.dlCharacter.bg5{background:url(../images/info/bg_character05.html) no-repeat;}

.tableSkills{border-collapse:collapse; margin:0 auto 10px auto; width:668px; line-height:11px; table-layout:fixed;}
.tableSkills caption{position:relative; width:auto; height:auto; visibility:visible; border:solid #3B2916; border-width:1px 0; background:#261406; font:bold 10px/25px Verdana; color:#AC823F; text-align:left; text-indent:12px; letter-spacing:1px;}
.tableSkills thead th,
.tableSkills thead td{padding:7px 0; border:solid #3B2916; border-width:0 0 1px 1px; font-weight:normal; text-align:center;}
.tableSkills tbody th{padding:7px 0; border:solid #3B2916; border-width:0 0 1px 0; font-weight:normal;}
.tableSkills tbody td{padding:7px 0; border:solid #3B2916; border-width:0 0 1px 1px; text-align:center;}
.tableSkills .AlignLeft{padding-left:10px;}
.tableSkills .imgPhoto{padding:4px 0; width:90px; border-left:0;}
.tableSkills .imgPhoto img{padding:4px; border:1px solid #3B2916; background:#170C03;}
.tableSkills .tdNpc{padding:7px 10px; text-align:left; vertical-align:top;}

.tableItem tbody th,
.tableMonster tbody th,
.tablePet tbody th{border-width:0 0 1px 1px;}
.tableItem .imgPhoto,
.tableMonster .imgPhoto{width:111px;}
.tableItem .imgPhoto img{padding:1px; border:1px solid #3B2916; background:#000000;}
.tableMonster .imgPhoto img{padding:0; border:1px solid #3B2916;}
.tableMonster{margin:0 5px 10px 9px; width:325px; display:inline-table; *display:inline;}

.tableQuest{border-collapse:collapse; margin:0 auto 20px auto; width:668px; border-top:1px solid #2C2212; line-height:11px;}
.tableQuest th{padding:7px 0; width:156px; border:solid #2C2212; border-width:0 1px 1px 0; background:#170C03; font-size:10px;}
.tableQuest td{padding:7px 0; border:solid #2C2212; border-width:0 0 1px 0; text-align:center;}

.craft{margin:5px 0;}
.craft li{display:inline-block; width:24%; text-align:center; *display:inline; *zoom:1; vertical-align:top;}
.craft li img{display:block; margin:0 auto 5px auto;}

/* cash item */
.cashGuide{position:relative; margin:15px auto 20px auto; padding:11px 0 0 0; width:667px; height:260px; background:url(../images/cash/bg_guide.gif) no-repeat; list-style:none; overflow:hidden;}
.cashGuide li{padding:0 0 30px 0; background:url(../images/cash/bg_arrow.gif) no-repeat center 45px; text-align:center;}

.rBox{position:relative; margin:34px auto 6px auto; width:667px; background:url(../images/common/bg_rbox.png) no-repeat 0 bottom;}
.rBox span{position:relative; display:block; top:-14px; padding:14px 0 0 0; background:url(../images/common/bg_rbox.png) no-repeat;}
.rBox span img{display:block; margin:0 auto;}

/* support */
.ulClient{margin:-10px 0 0 0; text-align:center;}
.ulClient li{margin:20px 0 0 0;}
.ulPatch{margin:0 auto; padding:5px 0 5px 18px; width:650px; background:#2D1806; overflow:hidden; _zoom:1;}
.ulPatch li{float:left; padding:5px 0 5px 7px; width:85px; background:url(../images/support/bu_arrow.gif) no-repeat 0 12px;}
.ulPatch li a{color:#716754 !important;}
.ulPatch li a:hover{color:#938467 !important;}
.textDownload{margin:10px; line-height:12px;}

.tableVga{border-collapse:collapse; margin:0 auto; width:560px;}
.tableVga thead th{padding:4px 0; border:solid #3B2916; border-width:1px 0 1px 1px; background:#261406; color:#AC823F; font-size:10px;}
.tableVga tbody th{padding:5px 0; border:solid #3B2916; border-width:0 0 1px 0;}
.tableVga tbody td{padding:4px 0 4px 20px; border:solid #3B2916; border-width:0 0 1px 1px;}
.tableVga tbody td img{vertical-align:middle;}
.tableVga tbody td a img{display:block; margin:-20px 0 0 150px;}
.tableVga .lineLNone{border-left:none 0;}

.textInquiry{position:relative; margin:10px 0 15px 0; padding:10px 10px 30px 10px; border:solid #3B3529; border-width:1px 0; background:#2D2419; line-height:17px; _zoom:1;}
.textInquiry img{position:absolute; bottom:8px; right:10px;}
.tableInquiry{border-collapse:collapse; margin:10px 0 15px 0; border:solid #3B3529; border-width:1px 0; width:100%; table-layout:fixed;}
.tableInquiry th{padding:6px 0 0 25px; width:140px; text-align:left; vertical-align:top; color:#9B8966;}
.tableInquiry td{padding:1px 0 1px 10px; height:29px; line-height:12px;}
.tableInquiry td input,
.tableInquiry td select,
.tableInquiry td img{vertical-align:middle;}
.tableInquiry td .inputText{width:479px;}
.tableInquiry td .inputRadio{margin:5px 5px 5px 0; width:13px; height:13px;}
.tableInquiry td .inputCheck{width:13px; height:13px;}
.tableInquiry td .inputFile{width:487px; *height:18px;}
.tableInquiry td label{margin:0 15px 0 0;}
.tableInquiry td.bottom{padding:10px 20px; width:570px; border:solid #3B3529; border-width:1px 0;}
.tableInquiry td.bottom p{margin:10px 0 0 2px;}
.tableInquiry tr.lineTop th,
.tableInquiry tr.lineTop td{border-top:1px solid #3B3529;}
textarea.textareaDetails{padding:5px; width:475px; height:120px; border:1px solid #53462C; background:#000000; color:#9B8966; font-size:10px; overflow:auto;}
textarea.textareaAgree{margin:5px 0 0 0; padding:5px; width:630px; height:120px; border:1px solid #53462C; background:#000000; color:#9B8966; font-size:10px; overflow:auto;}