@font-face {
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  src: local('Lustria'), local('Lustria-Regular'), url(http://themes.googleusercontent.com/static/fonts/lustria/v1/jxv7sa1tHLjuAOuAPVunGw.woff) format('woff');
}
