
.m_title{
font-size:15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#b15c23;}
.meniu{ 
  background: url('../img/forgot-bg.html') repeat-x;
    height:21px;
    width:245px;
    text-align: justify;
	padding-left:20px;
	margin: auto;
    color: #da7a41;
    font-family: arial;
    font-size: 12px;
    padding-top: 5px;
    display:block;
    margin-bottom: 5px;

}
.meniu a:hover { 
background-position:top; color:#d89120;}


a.notice
{
font-family:TAHOMA, Arial, Helvetica;
font-size:20px;
color:#b15c23;}
.notice
{
font-family:TAHOMA, Arial, Helvetica;
font-size:20px;
color:#b15c23;}


.notice_title{
background-image:url(../images/n_news.html);
background-repeat:no-repeat;
height:33px;

font-size:13px;
font-family:Arial, Helvetica, sans-serif;
color:#b15c23;}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, object, iframe { padding: 0; margin: 0; font-family:Tahoma, Helvetica, sans-serif; color:#da7a41; font-weight:normal; line-height:150%;  	font-size: 13px;
size:13px;
}

.FlareMU_Content {
	font-family: Tahoma;
	font-size: 13px;
	color: #b15c23;
	font-weight: bold;
	-moz-border-radius: 0 8px 0 0;

}
.FlareMU_LoginForm {
	font-family: Tahoma;
	font-size: 13px;
	color:#ffffff;
	background-image:url(../img/input.html);
padding-left:3px;
border:0px;
height:25px;
width:162px;


}
.iN_date{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#88461a;
}
.iN_news_content{
	font-family: Tahoma;
	font-size: 13px;
    color: #da7a41;
}


.iN_download_title{
font-size:14px; arial; color:#da7a41;
}
.iN_description{
font:10px Arial, Verdana, sans-serif;
color:#c6964a;

}

.iN_download_cat{
font-size:12px;
color:#da7a41;
}
.iRg_text{
font: bold 11px Arial, sans-serif; color: #da7a41;
}


.iRg_inf{
font: 11px fantasy;  #da7a41;
}
.right_page_content { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23;}
.right_page_content a{color:#b15c23; text-decoration:underline;}
.right_page_content a:hover{color:#b15c23; text-decoration:none;}

.tmp_right_side { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23;}
.tmp_right_content { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23; }
.tmp_m_content { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23;}
.tmp_m_content .tmp_right_title { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23; }

.tmp_m_content .tmp_page_content { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23; }


.tmp_m_content .tmp_right_title { background: url('../img/news-bg.png') no-repeat;
    height:35px;
    margin-top:20px;
    padding-top:20px;
    cursor: pointer;
    color:#ac8365;
	padding-left:30px;
}	
.tmp_m_content .tmp_page_content_ann { font:normal 12px/24px Arial, Helvetica, sans-serif; color:#375264; margin:5px; }
.ann_date { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23;
}

.table_list{
background: #ffffff;
color: #000000;
border: outset 1px #DEE0E2;
}

.table_list .title{
background: #DFDFFF;
font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
padding: 2px;
padding-left: 4px;
color: #595959;
border: outset 1px #555555;
}

.table_list .even{
background: #ECECFF;
}

.table_list .content{
font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
padding: 2px;
padding-left: 4px;
}




/*
.tmp_m_content .tmp_page_content a { font-family: Tahoma;
	font-size: 13px;
	color: #b15c23; }
.tmp_m_content .tmp_page_content a:hover {font-family: Tahoma;
	font-size: 13px;
	color: #b15c23; }
*/
.iRg_input{

	font-family: Tahoma;
	font-size: 11px;
	color:#000;
width:154px;
	background-image: url(images/c_bg_c.html);
	border:1px #b15c23 groove;
	border-top-color: #B89F82;
	border-right-color: #B89F82;
	border-bottom-color: #B89F82;
	border-left-color: #B89F82;
	-moz-border-radius: 5px 5px 5px 5px; 
}
.iRg_inf{
font: 11px fantasy;  #555555;
}

.iRg_line{
background:url(../images/inner_line.jpg); background-position:bottom; background-repeat:repeat-x;
font: 11px fantasy; color: #b15c23;
padding-bottom: 2px;
height:5px;

}

.iRg_line_top{
background:url(../images/inner_line.jpg); background-position:bottom; background-repeat:repeat-x;
font: 11px fantasy; color: #b15c23;
padding-bottom: 1px;
height:2px;

}

.iR_func_status{
border: 1px solid #d4661c; 
background: #290d0a; 
padding-left: 4px;
font-size: 11px;
}
a { font:normal 12px Tahoma, Helvetica, sans-serif; color:#da7a41; text-decoration:none; }
a:hover {font:normal 12px Tahoma, Helvetica, sans-serif; color:#b15c23; text-decoration:none;}

